<mat-card class="center-card">

   <mat-card-content>

        <div>
            <form [formGroup]="postForm">
                
                <!-- name Title -->
                <mat-form-field appearance="fill">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <!-- end -->
                
                <!-- Image Input(entry) -->
                <mat-form-field appearance="fill">

                    <mat-label>Image</mat-label>
                    <input matInput formControlName="img">

                </mat-form-field>
                <!-- end -->

                <!-- text entry -->
                <mat-form-field appearance="fill">

                    <mat-label>content</mat-label>
                    <textarea matInput rows="15" cols="2" formControlName="content"></textarea>

                </mat-form-field>
                <!-- end -->

                <!-- name of poster -->
                <mat-form-field appearance="fill">

                    <mat-label>Posted by</mat-label>
                    <input matInput formControlName="postedBy">

                </mat-form-field>
                <!-- end -->


                    <!-- tag entry -->

                <mat-form-field appearance="fill">

                    <mat-label>tags</mat-label>

                    <mat-chip-grid #chipGrid aria-label="Enter tags">
                        <mat-chip-row *ngFor="let tag of tags; let i =index" (removed)="remove(tag)">
                            {{tag}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        
                        </mat-chip-row>

                        <input placeholder="New Tag..." [matChipInputFor]="chipGrid"
                         (matChipInputTokenEnd)="add($event)">
                    </mat-chip-grid>

                </mat-form-field>
                <!-- end -->


            
                <button mat-raised-button color="primary" style="float: right;" 
                [disabled]="!postForm.valid" (click)="createPost()">Create New Post</button>
            
            
            </form>
        </div>


   </mat-card-content>


</mat-card>
