<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>BLOG HUB</span>
  <span class="example-spacer"></span>
  <!-- create post button-->
  <button mat-raised-button color="primary" routerLink="/create-post">Create New Post</button>
  <!-- View all button -->
  <button mat-raised-button color="primary" routerLink="/view-all">View Posts</button>
  <!-- search post -->
  <button mat-raised-button color="primary" routerLink="/search-by-name">Search</button>


  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>